/* um canvas em cima do outro */
canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}
#background {
    z-index: -2;
    background-color: #000000;
}
#main {
    z-index: -1;
}
#bar {
    z-index: 0;
}
